{% extends "base_online.html"%}
{% load staticfiles %}
{% block title %}Nueva Persona{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/formvalidation/css/formValidation.min.css' %}">
{% endblock %}
{% block content %}
<section class="content-header">
          <h1>
            Personal
            <small>Actualizar</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Personal</a></li>
            <li class="active">Actualizar</li>
          </ol>
</section>
<form id="online_notificacion" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<section class="content">
       <!-- SELECT2 EXAMPLE -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Formulario de Actualizacion</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nombre</label>
                    <div class="input-group">
                    	<input name="nombre" type="text" required="true" value="{{persona.usuario.first_name}}" >
                    </div>
                  </div><!-- /.form-group -->
                  <div class="form-group">
                     <label>Apellido</label>
                    <div class="input-group">
                    	<input name="apellido" type="text"  required="true" value="{{persona.usuario.last_name}}">
                    </div>
                  </div><!-- /.form-group -->
                  <div class="form-group">
                    <label>Tipo</label>
                	<div class="input-group">
                		<select data-placeholder="..." style="width:250px;" class="select2" name="tipo" required="true">
                			<option></option>
                      <option {% if 'Docente' in persona.tipo %} selected {% endif %} value="Docente">Docente</option>
                      <option {% if 'Administrativo' in persona.tipo %} selected {% endif %} value="Administrativo">Administrativo</option>
                			<option {% if 'Obrero' in persona.tipo %} selected {% endif %} value="Obrero">Obrero</option>
                		</select>
          			</div>
		           </div>
		           <div class="form-group">
                    <label>Perfil</label>
                	<div class="input-group">
                		<select data-placeholder="..." style="width:250px;" class="select2" name="perfil" required="true">
                			<option></option>
                			<option {% if 'Administrador' in group %} selected {% endif %} value="Administrador">Administrador</option>
                			<option {% if 'Personal' in group %} selected {% endif %} value="Personal">Personal</option>
                		</select>
          			</div>
		           </div>
                </div><!-- /.col -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Cedula</label>
                    <div class="input-group">
                    <input type="number" name="cedula" required="true" value="{{persona.cedula}}">
                    </div>
                  </div><!-- /.form-group -->
                  <div class="form-group">
                    <label>Telefono</label>
                    <div class="input-group">
                    <input type="phone" name="telefono" required="true" value="{{persona.telefono}}">
                    </div>
                  </div><!-- /.form-group -->
                  <div class="form-group">
	                    	<label>Correo</label>
	                    	<div class="input-group">
	                    		<input type="email" name="correo" required="true" value="{{persona.usuario.email}}">
	                    	</div>
	               </div><!-- /.form-group -->

                </div><!-- /.col -->
              </div><!-- /.row -->
              <div class="row">
              	<div class="col-md-12">
	              	<div class="form-group">
	                    <label>Imagen</label>
                    	<div>
                    		<input placeholder="seleccione la imagen" type="file" name="imagen[]" accept="image/*">
	          			</div>
	              	</div>
	             </div>
              </div>
              <div class="row">
              	<div class="col-md-12">
	              	<div class="form-group">
	                    <label>Direccion</label>
                    	<div>
	          				<textarea style="width:60%;" name="direccion" col="20" rows="3" required="ture">{{persona.direccion}}</textarea>
	          			</div>
	              	</div>
	             </div>
              </div>
              <div class="row">
              	<div class="col-md-12">
	              	<div class="form-group">
	                    <label>Estado</label>
                    	<div>
                    		<label>
                      			<input name="estado" type="checkbox" class="flat-red" {% if persona.estado %} checked {% endif %}>
                    		</label>
	          			</div>
	              	</div>
	             </div>
              </div>
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div><!-- /.box-body -->
            <div class="box-footer">
              Ingrese con cuidado los datos solicitados.
            </div>
          </div><!-- /.box -->
</section>
</form>
{% endblock %}
{% block js %}
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'plugins/formvalidation/js/formValidation.min.js' %}"></script>
    <script src="{% static 'plugins/formvalidation/js/framework/bootstrap.js' %}"></script>
    <script src="{% static 'plugins/formvalidation/js/language/es_ES.js' %}"></script>
    <script src="{% static 'js/persona/actualizar.js' %}"></script>
{% endblock %}
