{% extends "base_online.html"%}
{% load staticfiles %}
{% block title %}Reportes{% endblock %}
{% block css %}
   <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
   <link rel="stylesheet" href="{% static 'plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css' %}">
{% endblock %}
{% block content %}
<section class="content-header">
          <h1>
            Asistencia de Personal
            <small>Lista</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Personal</a></li>
            <li class="active">Lista</li>
          </ol>
</section>
<section class="content">
       <!-- SELECT2 EXAMPLE -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title" style="display: inline-flex;">Asistencia {{fecha.date}}
              <form id="online_asistencia" style="margin-left: 10px;" method="POST">
				{% csrf_token %}
				<select name="tipo" class="select2">
					<option {% if 'docente' in tipo %} selected {% endif %} value="docente">Docentes</option>
		<option {% if 'personal-administrativo' in tipo %} selected {% endif %} value="personal-administrativo">Personal Administrativo</option>
					<option {% if 'obrero' in tipo %} selected {% endif %} value="obrero">Obrero</option>
				</select>
				<button class="DTTT_button" type="submit">Filtrar</button>
			  </form>
              </h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              	<table id="lista-asistencia" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        {% for dia in dias %}
                        	{% if 'Sun' not in dia|date:"D" and 'Sat' not in dia|date:"D" %}
                        	<th>
                        	{% if 'Mon' in dia|date:"D" %}Lun{% endif %}
                        	{% if 'Tue' in dia|date:"D" %}Mar{% endif %}
                        	{% if 'Wed' in dia|date:"D" %}Mie{% endif %}
                        	{% if 'Thu' in dia|date:"D" %}Jue{% endif %}
                        	{% if 'Fri' in dia|date:"D" %}Vie{% endif %}
                        	</th>
                        	{% endif %}
                        {% endfor %}
                      </tr>
                    </thead>
                    	{% for list in lista %}
                    		<tr>
                    			<td>{{list.persona.usuario.first_name}} {{list.persona.usuario.last_name}}</td>
                    			{% for asistencia in list.asistencia %}
	                    			<td>{{asistencia}}</td>
                    			{% endfor %}
                    		</tr>
                    	{% endfor %}
                    <tbody>

                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer">
              Listado de personal activo.
            </div>
          </div><!-- /.box -->
</section>
{% endblock %}
{% block js %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
	<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
    <script src="{% static 'js/reporte/lista.js' %}"></script>
{% endblock %}
