.colorme {color:#00C0EF;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #00C0EF;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#00C0EF;}
.flyout {border-top:2px solid #00C0EF;}
.sectiontitle {border-left: 4px solid #00C0EF;}
::-moz-selection{background:#00C0EF;color:#fff;}
::selection{background:#00C0EF;color:#fff;}
.ca-menu li:hover .ca-main {color: #00C0EF;}
.topborder { border-top:4px solid #00C0EF;}
.readmore {background:#00C0EF;}
 #subheader {background: #00C0EF;border-top: 1px solid #00C0EF; color: #eee;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#00C0EF;}
 #testimonials blockquote cite {color:#00C0EF;}
 .tags {background:#00C0EF;}
 ul.pagination li.current a {background: #00C0EF;}
.saymore {color:#00C0EF;}
.submit {background:#00C0EF;} 
dl.tabs dd.active { border-bottom: 3px solid #00C0EF;}
ul.accordion > li.active {border-top: 3px solid #00C0EF;}
div.alert-box.default { background-color: #00C0EF;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #00C0EF;}
.btn-slide {	background:#00C0EF url(../../img/plus.png) no-repeat;}
.btn-slide.active { background: #00C0EF url(../../img/minus.png) no-repeat;}
#footer {border-top:#00C0EF 4px solid;}
.back-top a:hover{background-color: #00C0EF;}
.sf-shadow ul {border-top:2px solid #00C0EF;}
.panel {border-left:4px solid #00C0EF;}
.colorbackground {background:#00C0EF;}
a.projectdetail { background: #00C0EF;opacity:0.8;}
a.projectdetail:hover { background: #00C0EF;opacity:1.0;}
#testimonials {border-left: solid 6px #00C0EF;}
.ei-title h2{background:#00C0EF;} 